// COLORS
$color-blue: #253992;
$color-dark-blue: #335073;
$color-blue-2: #0164B3;
$color-light-blue: #009DE4;
$color-orange: #F5A84C;
$color-white: #ffffff;
$color-dark-grey: #26292c;
$color-grey: #525960;
$color-greyish-blue: #838C95;
$border-color: #eeeeee;
$color_black: #031926;

// PADDING
$gen-padding: 16%;
$gen-padding-large: 20%;
$gen-padding-medium: 10%;
$gen-padding-small: 6%;

$land-top-padding: 8%;
$land-top-padding-small: 12%;

// FONT
$default-font-size: 1.6rem;

// GRID
$fake-grid-width: 100rem;
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;

// CARD
$circle: 15.2rem;

