.nav-bar {
  color: $color-white;
  padding: 2% $gen-padding;
  background: $color-blue;

  @include respond(big-desktop-min) {
    padding: 2% $gen-padding-large;
  }

  @include respond(tab-land) {
    padding: 2% $gen-padding-medium;
  }

  @include respond(l-phone2) {
    padding: 2% $gen-padding-small;
  }

  &--trans {
    background: #f5f5f5;
    width: 100%;
    color: $color-black;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 800;

    @include respond(l-phone2) {
      font-size: 3rem;
    }

    @include respond(m-phone-m) {
      font-size: 2rem;
    }
    
  }

  &__menu {
    @include none;

    @include respond(l-phone2) {
      display: block;
      font-size: 3rem;
    }
  }

  &__items {
    display: flex;
    width: 100%;
    @include jc-sb;
    @include ai-c;

    @include respond(l-phone2) {
      @include fxd-c;
    }
  }

  &__main {
    @include respond(l-phone2) {
      width: 100%;
      padding: 3% 0 3%;
      @include flex-center;
      @include jc-sb;
    }
  }

  &__links {
    display: flex;
    width: 50%;
    justify-content: flex-end;

    &__trans {
      @include respond(l-phone2) {
        background: $color-white;
        color: $color-black;
        padding: 0 8%;
      }
    }

    @include respond(l-phone2) {
      width: 100%;
      flex-direction: column;
      border-top: 1px solid $color-white;
      @include none;
    }
  }

  &__link {
    font-weight: 900;

    &:hover {
      color: $color-orange;
    }

    &:not(:first-child) {
      margin-left: 5%;

      @include respond(l-phone2) {
        margin-left: 0;
      }
    }

    @include respond(l-phone2) {
      padding: 8% 0;
      font-size: 2rem;
    }
  }
}
