// .chart {
//   padding: 8% $gen-padding;

//   @include respond(big-desktop-min) {
//     padding: 8% $gen-padding-large;
//   }

//   @include respond(l-phone) {
//     padding: 8% $gen-padding-small;
//   }

//   &__card {
//     padding: 3% 6%;
//     background: $color-white;
//     border: 0.5px solid var(--main-color-30);

//     &:not(:last-child) {
//       margin-bottom: 4%;
//     }
//   }
// }