.datasets {
  padding: $land-top-padding $gen-padding;
  background: $color-white;

  @include respond(big-desktop-min) {
    padding: $land-top-padding $gen-padding-large;
  }
  
  @include respond(tab-land) {
    padding: $land-top-padding $gen-padding-medium;
  }

  @include respond(l-phone2) {
    padding: $land-top-padding-small $gen-padding-small;
  }

  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__card {
    flex: 1 1 16.666666666666667%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;

    @include respond(tab-land) {
      flex: 1 1 33.333333333333333%;
    }

    @include respond(l-phone2) {
      flex: 1 1 50%;
    }
  }

  &__hover {
    display: flex;
    padding: 20px 20px;
    background: rgba(131, 140, 149, 0.28);
    border-radius: 100px;
  }

  &__icon {
    height: 3rem;
    width: 3rem;

    @include respond(l-phone2) {
      height: 4.8rem;
      width: 4.8rem;
    }
  }
}

.datasets__hover >  .datasets--text:hover {
  background: $color-orange;
}

.datasets__card:hover > .datasets__hover {
  background: $color-orange;
}

.datasets__card:hover > .datasets__hover svg path {
  fill: $color-black;
}

.datasets__card:hover > .datasets--text {
  color: $color-black;
}
