// POSITIONS
.relative {
  position: relative;
}

// DISPLAY
.flex {
  display: flex;
}

// ALIGNMENT
.u-center {
  text-align: center;
}

// FLEX
.wrap-tab {
  flex-wrap: wrap;
}

.dir-tab {
  @include respond(tab-land) {
    flex-direction: column;
  }
}

// MARGIN 
.mb-3r {
  margin-bottom: 3rem;
} 

.m-none {
  @include respond(s-phone3) {
    margin-top: 0;
  }
}

// FILL COLOR
.fill {
  fill: var(--main-color);
}

.black-fill {
  fill: $color-black;
}

.fill__light {
  fill: var(--main-color-light);
}

.fill__empty {
  fill: var(--main-color-60);
}

.fill__shadow {
  fill: var(--main-color-10);
}

//STOP COLOR
.stop-color {
  stop-color: var(--main-color);
}

.stop-color-light {
  stop-color: var(--main-color-light);
}

//DISPLAYS
.tab-port {
  @include respond(tab-port) {
    display: none;
  }
}